@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsAvionModel
@{
    var Avion = Model.Avion;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @Avion.id</li>
  <li class="list-group-item"> <b>Marca: </b> @Avion.marca</li>
  <li class="list-group-item"> <b>Modelo: </b> @Avion.modelo</li>
  <li class="list-group-item"><b>Numero de asientos: </b> @Avion.numero_asientos</li>
  <li class="list-group-item"><b>Numero de banos: </b> @Avion.numero_banos</li>
  <li class="list-group-item"><b>Capacidad en peso: </b> @Avion.capacidad_peso</li>
</ul>